#skip {
    position: relative;
    z-index: 102;
}

#skip a {
    position: absolute;
    left: 0;
    top: -30px;
    width: 108px;
    border: 1px solid #eaeaea;
    text-align: center;
    outline: none;
    background-color: #000;
}

#skip a:focus,
#skip a:active {
    top: 0;
    text-decoration: none;
    cursor: pointer;
    zoom: 1;
}

#skip a span {
    display: inline-block;
    padding: 2px 6px 0 0;
    font-size: 11px;
    letter-spacing: -1px;
    color: #fff;
    line-height: 26px;
}

/** aside **/

#aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 70px;
    background-color: #fff;
    z-index: 12;
}

#nav {
    height: 100%;
}

.navlist li a {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 41px;
    padding-bottom: 18px;
    width: 70px;
    font-size: 12px;
}

.navlist li a.hmn_mod,
.navlist li a.hmn_sports {
    width: calc(100% - 8px);
    margin-left: 4px;
    background-color: #98a9ba;
    color: #fff;
    border-radius: 5px;
    height: 68px;
    padding-top: 40px;
}

.navlist li a.hmn_mod:hover,
.navlist li a.hmn_sports:hover {
    text-decoration: underline;
}

.navlist li a.hmn_sports {
    margin-top: 4px;
}

.navlist li a.hmn_mod {
    margin-top: 18px;
}

.navlist li a:after {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/PlayMap_ICON.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 18px;
    left: 50%;
    margin-left: -10px;
}

/*.navlist > li > a.active { background-color: #0277bd !important; color: #fff !important; } */

.navlist>li>a.active {
    background-color: #031528 !important;
    color: #fff !important;
}

.navlist>li>a.active:after {
    background-position: -25px -0px;
}

.navlist li a.hmn_search:hover {
    background-color: #f0f0f0;
}

.navlist li a.hmn_search:after {
    background-position: 0 -25px;
}

.navlist li a.hmn_course:hover {
    background-color: #f0f0f0;
}

.navlist li a.hmn_course:after {
    background-position: 0 -50px;
}

.navlist li a.hmn_hd:hover {
    background-color: #f0f0f0;
}

.navlist li a.hmn_hd:after {
    background-position: 0 -125px;
}

/** 
controls */

#map_control {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 100;
}

.item_control {
    position: relative;
    border-top: 1px solid #e6e6e6;
}

.item_control.fir {
    border-top: 0;
}

.item_control.active .item_list {
    display: block;
    z-index: 30;
}

.item_control.active .btn_option:after {
    display: none;
}

.item_control button {
    position: relative;
    display: block;
    color: #222;
    font-size: 9px;
    text-align: center;
    width: 44px;
    height: 44px;
    line-height: 1;
    letter-spacing: -0.05em;
    z-index: 20;
}

.item_control button.active:active div,
.item_control button:active div {
    transform: scale3d(0.8, 0.8, 0.8);
    transition: all 0.1s ease-in;
}

.item_control button.active div {
    transform: scale3d(1, 1, 1);
}

.item_control button.active span {
    color: #0277bd;
}

.item_control button div {
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    text-align: center;
    transform: scale3d(1, 1, 1);
    transition: all 0.1s ease-in;
    transition-delay: 0.1s;
}

.item_control button span {
    position: absolute;
    bottom: 6px;
    display: block;
    width: 100%;
}

.item_control .btn_option {
    position: relative;
    z-index: 1000;
}

.item_control .btn_option:after {
    content: "";
    display: block;
    position: absolute;
    left: 1px;
    bottom: 1px;
    width: 4px;
    height: 4px;
    background: url(../images/hover_mark.png) no-repeat 0 0;
}

.item_control #solo .rbtn_item.active {
    background: #f0f0f0;
}

.item_control .item_list {
    display: none;
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 1px 43px 1px 1px;
    z-index: 10;
}

.item_control .item_list.sort {
    width: 270px;
    background: url(../images/bg1.png) no-repeat 0 0;
}

.item_control .item_list.load_view {
    width: 136px;
    background: url(../images/bg2.png) no-repeat 0 0;
}

.item_control .item_list.add {
    width: 181px;
    height: 91px;
    background: url(../images/bg3.png) no-repeat 0 0;
}

.item_control .item_list.size {
    width: 181px;
    background: url(../images/bg4.png) no-repeat 0 0;
}

.item_control .item_list.size ul li:first-child button span {
    color: #a7a7a7;
}

.item_control .item_list.space {
    width: 181px;
    background: url(../images/bg4.png) no-repeat 0 0;
}

.item_control .item_list.space ul li:first-child button span {
    color: #a7a7a7;
}

.item_control .item_list ul {
    overflow: hidden;
}

.item_control .item_list ul li {
    float: left;
    border-left: 1px solid #e6e6e6;
    background-color: #fff;
}

.item_control .item_list ul li:first-child {
    border-left: 0;
}

.item_control .item_list ul li button:hover {
    background-color: #f0f0f0;
}

.item_control .item_list ul.l1 {
    position: relative;
    height: 45px;
}

.item_control .item_list ul.l1:after {
    position: absolute;
    z-index: 1;
    bottom: 0;
    content: '';
    display: block;
    width: 134px;
    height: 1px;
    background: #e6e6e6;
}

.item_control .item_list ul.dobule li:last-child {
    border-right: none;
}

.hmn_control,
.hmn_widget {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.hmn_widget {
    margin-top: 18px;
}

.li_roadview button:hover {
    background-color: #f0f0f0;
}

.li_zoom_in button:hover {
    background-color: #f0f0f0;
}

.li_zoom_in span:after {
    top: 16px;
    width: 13px;
    height: 13px;
    background-position: 0 -120px;
    margin-left: -6.5px;
}

.li_zoom_in .r_ibtn {
    top: 15px;
}

.li_zoom_out button:hover {
    background-color: #f0f0f0;
}

.li_zoom_out span:after {
    top: 15px;
    width: 13px;
    height: 1px;
    background-position: 0 -150px;
    margin-left: -6.5px;
}

.li_zoom_out .r_ibtn {
    top: 22px;
}

.li_zoom_out .r_ibtn img {
    vertical-align: top;
}

.item_control .r_ibtn span {
    position: relative;
    display: inline-block;
    width: auto;
    bottom: auto;
}

.item_control .r_ibtn span .img_default {
    opacity: 1;
    position: relative;
    z-index: 2;
    visibility: visible;
    top: 0;
}

.item_control .r_ibtn span .img_over {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
}

.rbtn_item.active.reset_btn span {
    color: #222 !important;
}

.rbtn_item span.spin img {
    transition: all 0.65s ease-in;
}

.rbtn_item span.spin .img_default {
    transform: rotate(0);
}

.rbtn_item span.spin .img_over {
    transform: rotate(0);
}

.rbtn_item span.updown img {
    transition: all 0.5s ease-in;
}

.rbtn_item span.updown .img_default {
    transform: translateY(0);
}

.rbtn_item span.updown .img_over {
    transform: translateY(-5px);
}

.rbtn_item span.skew img {
    transition: all 0.8s ease-in;
}

.rbtn_item span.skew .img_default {
    transform: rotate(0deg);
}

.rbtn_item span.skew .img_over {
    transform: rotate(-15deg);
}

.rbtn_item.active span .img_default {
    opacity: 0;
    visibility: hidden;
}

.rbtn_item.active span .img_over {
    opacity: 1;
    visibility: visible;
}

.rbtn_item.active span.spin .img_default {
    transform: rotate(-180deg);
}

.rbtn_item.active span.spin .img_over {
    transform: rotate(180deg);
}

.rbtn_item.active span.updown .img_default {
    transform: translateY(-5px);
}

.rbtn_item.active span.updown .img_over {
    transform: translateY(0);
}

.rbtn_item.active span.skew .img_default {
    transform: rotate(15deg);
}

.rbtn_item.active span.skew .img_over {
    transform: rotate(0deg);
}

.mCSB_inside>.mCSB_container {
    margin: 0;
}

.mCSB_scrollTools {
    width: 10px;
}

/*# sourceMappingURL=gnb.css.map */